<!-- src/menu/template/layout.ejs -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/menu.css">
</head>

<body>
  <%- include("partials/header") %>
  <%- include("partials/navbar") %>

  <main class="content">
    <%- body %> <!-- Aquí se inyecta el contenido de cada vista -->
  </main>

  <%- include("partials/footer") %>
</body>
</html>
